nav{
  
    background-color: rgb(54, 54, 129);
  
    display: flex;
    flex-direction: column;
    /* position: fixed;
    width: 100%;
    top: 0; */

       
}

/* .th{
margin-top: 50px;
} */







.nav{
    display: flex;
    height: 50px;
    align-items: center;
 

}

a{
    text-decoration: none !important;
    margin-left: 20px !important;
    color: white !important;

}